<body>
    <h1>Compras de Almacen Registradas</h1>

    <table id="customers">
        <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Peso</th>
            <th>Marca</th>
            <th>Estado</th>
            <th>Cantidad</th>
        </tr>

        <tr *ngFor="let item of items">
            <td></td>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.peso}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.estado}}</td>
            <td>{{item.cantidad}}</td>

            <td><button (click)="editar()" class="btnEditar">Editar</button></td>
            <td><button (click)="eliminar(item.id)" class="btnEliminar">Eliminar</button></td>
        </tr>
    </table>
</body>